.container {
    display: flex;
    flex-direction: row;

    padding: 20px 50px;
    gap: 300px;
    background-color: gray;
    height: 50px;
    font-weight: bold;
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    color: black;
}

.links {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;


}

.link {

    border-radius: 5px;
    border: solid gainsboro 2px;
    align-items: center;
    color: black;
    text-decoration: none;
}

.logo {
    border-radius: 5px;
    border: solid gainsboro 2px;
    align-items: center;
    color: black;
    text-decoration: none;
}